.registerFormWrapper {
  max-width: 500px;
  margin: rem(24px) auto 0 auto;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.registerHeading {
  margin: 12px 0 8px 0;
}

.registerSubheading {
  color: #4b5563;
  margin: 0 0 20px 0;
}

.registerForm {
  display: flex;
  flex-direction: column;
  gap: rem(8px);
}

.registerLoginText {
  color: #4b5563;
  text-align: center;
}

.registerLoginLink {
  color: #3b82f6;
}

.registerError {
  margin: 0;
  color: #dc2626;
}
