.profileFormWrapper {
    max-width: 31.25rem;
    margin: 5% auto;
    padding: 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
}

.profileHeading {
    margin: 0.75rem 0 0.5rem 0;
    font-size: x-large;
    text-align: center;
}

.profileForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.profileField {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5rem;
}

.profileLabel {
    font-weight: bold;
}

.profileInput {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 0.25rem;
    padding: 0.5rem;
    width: 70%;
}

.profileInput:focus {
    border-color: #E6E6E3;
    outline: none;
    transition: border-color 0.3s;
}

.profileButton {
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

.profileButton:hover {
    background-color: #E6E6E3;
    color: #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.profileMessage {
    color: #4b5563;
    text-align: center;
    margin-top: 0.5rem;
}

.profileError {
    color: #dc2626;
    text-align: center;
    margin-top: 0.5rem;
}
