.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  user-select: none;
  animation: fadeInSlideUp 1.5s ease;
  box-sizing: border-box;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1%;
}

.contactSection {
  flex: 1;
  min-width: 25rem;
  margin-top: 5%;
  margin-right: 5rem;
  font-size: 1.4rem;
  background-color: #f9f9f9;
  padding: 1.25rem;
  text-align: center;
  box-sizing: border-box;
  border: 0.1rem solid #ddd;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

.mapSection {
  min-width: 50%;
  text-align: center;
  box-sizing: border-box;
}

.map {
  width: 100%;
  height: 20rem;
  box-sizing: border-box;
  border: 0.1rem solid #ddd;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

.infoSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 40rem;
  width: 100%;
  margin-top: 3%;
  padding: 2%;
  border: 0.1rem solid #ddd;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

.infoText {
  flex: 1;
  font-size: 1.2rem;
  padding-right: 2rem;
}

.image {
  flex: 1;
  max-width: 60%;
  height: auto;
  border-radius: 0.75rem;
  border: 0.1rem solid #ddd;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

.reserveButton {
  margin-top: 1.5rem;
  animation: pulse 1.5s infinite;
  transition: transform 0.3s ease;
}

.reserveButton:hover {
  transform: scale(1.2);
  animation: none;
}

.divider {
  width: 70%;
  margin: 0.625rem auto;
  opacity: 0.6;
}

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(1.25rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

/* Responsive Design */
@media (max-width: 65rem) {
  .mainContent {
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 1rem;
  }

  .contactSection {
    margin-right: 0;
    scale: 0.8;
    margin-top: 0;
    min-width: 30rem;
  }

  .infoSection {
    max-width: 90%;
    padding: 1rem;
  }

  .mapSection {
    min-width: 90%;
  }

  .infoText {
    font-size: 1.05rem;
  }

  .image {
    max-width: 50%;
  }
}
