/* Home.css */
.featured-item-card {
    position: relative;
    overflow: hidden;
    border-radius: 5%;
  }
  
  .featured-item-card:hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(5%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  }
  
  .featured-item-card img {
    border-radius: 5%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
  }
  
  .featured-item-name {
    font-weight: 600;
    text-align: center;
    user-select: none;
  }
  
  /* Item card image hover effects */
  .featured-item-card:hover img {
    transform: scale(1.05);
  }
