/* Navigation Styles */
nav ul {
  list-style-type: none; /* Remove default list styling */
  background-color: #000000;
  position: sticky; /* Stick to the top on scroll */
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center nav items */
  margin-top: 0; /* Ensure banner and nav bar are touching */
  margin-bottom: 3%; /* Increase space between the bottom of nav bar and page content */
}

nav ul li { /* Space between nav page links */
  margin-right: 0.5%;
  margin-left: 0.5%;
}

nav ul li a {
  text-decoration: none; /* Remove underline from links */
  color: #ffffff;
  padding: 20px; /* Padding for links */
  display: inline-block; /* Make link a block for padding */
  transition-duration: 0.3s; /* Smooth transition for hover effects */
}

nav ul li a:hover:not(.active) {
  background-color: #949494; /* Nav bar page background color change on hover */
}

nav ul li a.active {
  color: #949494; /* Change nav bar text color for active page */
}


/* Media Queries for Responsive Design -TABLETS- */
@media (max-width: 990px) {
  nav ul {
    justify-content: center; /* Center nav items on tablet screens */
    margin-right: 8%; /* Adjust right margin */
    margin-bottom: 5%; /* Adjust bottom spacing */
  }

  nav ul li { /* Remove space between nav page links */
    margin-right: 0;
    margin-left: 0;
  }

  nav ul li a {
    padding: 15px; /* Adjust padding for links */
    font-size: x-small;
  }
}


/* Media Queries for Responsive Design -PHONES- */
@media (max-width: 576px) {
  nav ul {
    margin-right: 40px;
  }

  nav ul li a {
    padding: 3px; /* Adjust padding for links */
    font-size: 8px;
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
