/* Navigation Styles */

nav {
  background-color: #000000;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically align items */
  padding: 0 32%;
  margin-bottom: 3%; /* Increase space between the bottom of nav bar and page content */
  user-select: none;
}

.nav-container {
  display: flex;
  justify-content: center;
  flex-grow: 1; /* Ensure nav links stay centered */
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center; /* Center nav items */
  margin: 0;
  padding: 0;
}

nav ul li { /* Space between nav page links */
  margin-right: 0.5%;
  margin-left: 0.5%;
}

nav ul li a {
  text-decoration: none; /* Remove underline from links */
  color: #ffffff;
  padding: 20px; /* Padding for links */
  display: inline-block; /* Make link a block for padding */
  transition-duration: 0.3s; /* Smooth transition for hover effects */
}

nav ul li a:hover:not(.active) {
  background-color: #949494; /* Nav bar page background color change on hover */
}

nav ul li a.active {
  color: #949494; /* Change nav bar text color for active page */
}

/* Profile Icon Styles */
.profile-icon {
  display: flex;
  align-items: center;
  margin-left: auto; /* Push the profile icon to the far right */
  cursor: pointer;
}

.profile-icon img {
  border-radius: 50%; /* Make image round */
  width: 40px; /* Size of the profile icon */
  height: 40px;
  object-fit: cover; /* Ensure image covers the area */
  border: 2px solid #fff; /* Add white border to icon */
}

.profile-icon:hover img {
  border-color: #bababa; /* Change border color on hover */
  transform: scale(1.2);
}

/* Media Queries for Responsive Design -TABLETS- */
@media (max-width: 990px) {
  nav {
    justify-content: space-between; /* Keep space between nav links and profile icon */
    padding: 0 5%; /* Adjust padding */
  }

  nav ul li a {
    padding: 15px; /* Adjust padding for links */
    font-size: x-small;
  }

  .profile-icon img {
    width: 35px; /* Adjust size for tablet */
    height: 35px;
  }
}

/* Media Queries for Responsive Design -PHONES- */
@media (max-width: 576px) {
  nav ul li a {
    padding: 3px; /* Adjust padding for links */
    font-size: 8px;
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .profile-icon img {
    width: 30px; /* Adjust size for phone */
    height: 30px;
  }
}
