.pageContainer {
  max-width: rem(948px);
  margin: 0 auto;
  padding: rem(32px) rem(16px) 0 rem(16px);
  animation: fadeInSlideUp 1.5s ease;
}

.error {
  color: #ef4444;
  text-align: center;
  background-color: #fee2e2;
  margin-top: 8px;
  padding: rem(4px) 0;
  border-radius: 2px;
}

.notLoggedIn {
  max-width: 45rem;
  margin: 5% auto;
  padding: 0.75rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 1.25rem;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInSlideUp 1.5s ease;
}

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(1.25rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Styles for smaller screens */
@media (max-width: 48rem) {
  .notLoggedIn {
    max-width: 90%;
  }
}
